venv/
__pycache__/
*.csv
credentials.json
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
lib/
include/
share/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
scraper_log.txt
